<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Rajdhani google font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
	 
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- jQuery and Popper.js -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <!-- Add a favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    
    <style>
      html,body,jumbotron,article,aside,details,figcaption,figure,
      footer,header,hgroup,main,menu,nav,section,summary{
    font-family: 'Rajdhani', sans-serif;
      }
    </style>
    </head>
  <body>
    <div class="container">
      <div class="header clearfix">
       
          <ul class="nav nav-pills">
            {% if session['logged_in'] == True %}
            <li class="nav-item"><a href="/">Principal  - </a></li>
            <li class="nav-item"><a href="/about">Sobre - </a></li>
            <li class="nav-item"><a href="/contact">Contato - </a></li>
            <li class="nav-item"><a href="/logout">Sair -  </a></li>
            {% endif %}
          </ul>
      
      </div>
      {% block body %}
      {% endblock %}
    </div> <!-- /container -->
  <footer class="container" style="text-align: center;">© 2021 Faguiro's Flask Demo</footer>
</body>
</html>
